<head>
  <title>route_controllers</title>
</head>

<body>
</body>

<template name="AppLayout">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <!-- START REPORT ADMIN -->
        <header class="panel-heading tab-bg-dark-navy-blue">
          <ul class="nav nav-tabs nav-justified" id="myTab">
            <li>
              <a href="/">
                <i class="fa fa-users"></i>   Colaboradores
              </a>
            </li>
            <li class="">
              <a href="/projetos">
                <i class="fa fa-sitemap"></i>   Projetos
              </a>
            </li>
            <li>
              <a href="/empresas">
                <i class="fa fa-university"></i>   Empresas
              </a>
            </li>
          </ul>
        </header>
        <div class="tab-content tasi-tab">
          <div id="projects" class="tab-pane active">
            {{> yield}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="Colaboradores">
  <h1>Colaboradores</h1>
</template>

<template name="Projetos">
  <h1>Projetos</h1>
</template>

<template name="Empresas">
  <h1>Empresas</h1>
</template>
